<html>

<head>
<style>
header {
    
    color:black;
    text-align:center;
    padding:5px;
    text-style:bold;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
    
}
nav ul  {
      border:1px solid black;
      text-align:left;
      
}
align{
  text-decoration:none;
}
section {
    width:350px;
    float:left;
    padding:10px; 
}



article {
  float:left;
  width:150px;
  padding:10px;
  
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
<title>Homepage</title>

</head>

<body>
  <header>
    <h1> This is the homepage</h1>
  </header>
  
  <nav>
    <ul>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>

  <section>
    <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more re</p>
  </section>

  
  <article>
    <p>My first article</p>
  </article>
  
  <footer>
    @Copyright 2016
  </footer>
</body>
</html>
